[submodule "themes/hugo-clarity"]
	path = themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
[submodule "themes/jemsugo"]
	path = themes/jemsugo
	url = https://github.com/jemus42/jemsugo.git
[submodule "themes/hugo-theme-component-webmentions"]
	path = themes/hugo-theme-component-webmentions
	url = https://github.com/devidw/hugo-theme-component-webmentions
[submodule "themes/hugo-calendly-shortcode"]
	path = themes/hugo-calendly-shortcode
	url = https://github.com/bespokesy/hugo-calendly-shortcode.git
[submodule "cloakmail"]
	path = themes/hugo-cloak-email
	url = https://github.com/martignoni/hugo-cloak-email.git
[submodule "github-contribution"]
	path = themes/hugo-github-calendar
	url = https://github.com/totoroot/hugo-github-calendar.git
