img[src$='#center']
{
    display: block;
    margin: 0.7rem auto !important;
}

img[src$='#center'] + em
{
    display: block;
    margin: 0.7rem auto;
    text-align: center;
}

img[src$='#floatleft'],
img[src$='#floatright']
{
    display: inline-block;
    vertical-align: top;
}

img[src$='#floatleft']
{
    float: left !important;
    margin: 0.7rem !important;
    clear: left;
}

img[src$='#floatright']
{
    float: right !important;
    margin: 0.7rem !important;
    clear: right;
}

img[src$='#floatleft'] + em,
img[src$='#floatright'] + em
{
    display: block;
    margin: 0.7rem auto;
    text-align: center;
}
