figure {
    margin: 0.7rem auto !important;
    position: relative;
  }
  
  figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 0.5rem !important;
  }
  
  img[src$='#center'] {
    display: block !important;
    margin: 0 auto !important;
  }
  
  img[src$='#left'] {
    float: left !important;
    margin: 0.7rem !important;
    clear: left !important;
  }
  
  img[src$='#left'] + figcaption {
    margin-left: 0.7rem !important;
    text-align: left !important;
  }
  
  img[src$='#right'] {
    float: right !important;
    margin: 0.7rem !important;
    clear: right !important;
  }
  
  img[src$='#right'] + figcaption {
    margin-right: 0.7rem !important;
    text-align: right !important;
  }
  
  figure img {
    vertical-align: bottom;
  }
  