{{ define "main" }}
<div style="text-align: center;">
  <h1>Archives</h1>
  {{ .Content }}

  <h2>By Date</h2>
  <ul class="archives-list">
    {{ range $name, $taxonomy := .Site.Taxonomies.month }} {{- $cnt := .Count -}}
      {{- with $.Site.GetPage (printf "%s" $name) -}}
        <li><a href="{{ .RelPermalink }}" title="All posts from {{ .Title }}">{{ .Title }}</a> ({{$cnt}})</li>
      {{ end }}
    {{- end -}}
  </ul>

  <h2>By Category</h2>
  <ul class="archives-list">
    {{ range $name, $taxonomy := .Site.Taxonomies.categories }} {{- $cnt := .Count -}}
      {{- with $.Site.GetPage (printf "/categories/%s" $name) -}}
        <li><a href="{{ .RelPermalink }}" title="All posts in category &lsquo;{{ .Title }}&rsquo;">{{ .Title }}</a> ({{$cnt}})</li>
      {{ end }}
    {{- end -}}
  </ul>

  <h2>By Tag</h2>
  <ul class="archives-list">
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }} {{- $cnt := .Count -}}
      {{- with $.Site.GetPage (printf "/tags/%s" $name) -}}
        <li><a href="{{ .RelPermalink }}" title="All posts with tag &lsquo;{{ .Title }}&rsquo;">{{ .Title }}</a> ({{$cnt}})</li>
      {{ end }}
    {{- end -}}
  </ul>
</div>
{{ end }}
