{{ $pages := .Pages }}
{{ if .IsHome }}
  {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}

{{ if eq site.Params.pinFeatured true }}

  {{ $featuredCount := default 8 site.Params.numberOfPinnedPosts }}

  {{ $manualPinned := sort (where $pages "Params.pinnedRank" "!=" nil) "Params.pinnedRank" "asc" }}

  {{ $remainingSlots := sub $featuredCount (len $manualPinned) }}

  {{ $normalCandidates := where $pages "Params.pinnedRank" nil }}

  {{ $autoPinned := first $remainingSlots $normalCandidates }}

  {{ $featuredPosts := $manualPinned | append $autoPinned }}

  {{ $normalPosts := $pages | symdiff $featuredPosts }}

  {{ $pages = $featuredPosts | append $normalPosts }}

{{ end }}
<div class="grid-inverse wrap content">
  <div>
    <ul class="posts" id="posts">
      {{- range (.Paginate $pages).Pages }}
        {{ partial "excerpt" . }}
      {{- end }}
      <li>
        {{- template "_internal/pagination.html" . }}
      </li>
    </ul>
  </div>
  {{- partial "sidebar" . }}
</div>
