<!-- Add custom fonts -->
<style>
  @font-face {
    font-family: 'Gugi';
    src: url('/fonts/Gugi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>


<!-- <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="90d4456b-cd0c-4960-a8d4-1752f7408083";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script> -->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/672f9a672480f5b4f59b2f33/1ic8v68ru';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->


{{/*  <link rel="stylesheet" href="/css/owl.carousel.css">  */}}
{{/*  <link rel="stylesheet" href="/css/owl.theme.css">  */}}

<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">

<script defer src="https://umami.bennett.lol/script.js" data-website-id="cef02243-b7bb-4a5f-9d39-8f202f5fc77c"></script>

<script async defer src="https://analytics.bennett.lol/tracker.js" data-website-id="cm475jydu0001do0jp595b5fo"></script>
