<!-- Add custom fonts -->
<style>
  @font-face {
    font-family: 'Gugi';
    src: url('/fonts/Gugi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>

<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="90d4456b-cd0c-4960-a8d4-1752f7408083";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

{{/*  <link rel="stylesheet" href="/css/owl.carousel.css">  */}}
{{/*  <link rel="stylesheet" href="/css/owl.theme.css">  */}}

<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}"
