<!-- Add custom fonts -->
<style>
  @font-face {
    font-family: 'Gugi';
    src: url('/fonts/Gugi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>

<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="90d4456b-cd0c-4960-a8d4-1752f7408083";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

<script>
  setTimeout(() => {
    var favicon_video_image_counter = 0;
    var favicon_video_icon_tag = document.querySelector("link[rel='icon']");
    var favicon_video_images = [
"https://favicongenerator.s3.amazonaws.com/fc61e893a60b6.png","https://favicongenerator.s3.amazonaws.com/c9c7ecf58d85c.png","https://favicongenerator.s3.amazonaws.com/fb1fc59d73b63.png","https://favicongenerator.s3.amazonaws.com/cf3b5ffbc6df8.png","https://favicongenerator.s3.amazonaws.com/62964ead659dd.png","https://favicongenerator.s3.amazonaws.com/0a56894ff79da.png","https://favicongenerator.s3.amazonaws.com/2d4a828b14e21.png","https://favicongenerator.s3.amazonaws.com/f6d067a398ffc.png","https://favicongenerator.s3.amazonaws.com/b6b7fcda5ae8.png","https://favicongenerator.s3.amazonaws.com/385196f06c5b2.png"];
    async function favicon_video_to_data_url(url, callback) {
      var xhr = new XMLHttpRequest();
      xhr.onload = function () {
        var reader = new FileReader();
        reader.onloadend = function () {
          callback(reader.result);
        };
        reader.readAsDataURL(xhr.response);
      };
      xhr.open("GET", url);
      xhr.responseType = "blob";
      xhr.send();
    }

    var favicon_video_loaded_images = [];

    favicon_video_images.map((url, idx) => {
      favicon_video_to_data_url(url, function (dataUrl) {
        favicon_video_loaded_images[idx] = dataUrl;
      });
    });

    setInterval(function () {
      if(favicon_video_loaded_images[favicon_video_image_counter]) {
        favicon_video_icon_tag.href = favicon_video_loaded_images[
          favicon_video_image_counter
        ].replace("application/octet-stream", "image/png");
      }
      if (
        favicon_video_image_counter ==
        favicon_video_loaded_images.length - 1
      )
        favicon_video_image_counter = 0;
      else favicon_video_image_counter++;
    }, 100);
  }, 2000);
</script>